@import "compass/reset";
@import "compass/css3";

body {
	font-size: 62.5%;
}

$border-color : rgb(242, 238, 232);
$main-blue-color: rgb(0, 67, 118);

.header {
	position: relative;
	background-image: url(../resourses/top-background-image.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;

	.title {
		position: absolute;
		left: 50%; top:50%;
		margin-top: 100px;
		margin-left: -140px;
		color: white;
		font-size: 4em;
		text-shadow: 0 0 3px $main-blue-color;
	}
}


@mixin avatar {
	padding: 3px;
	background-color: none;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: $main-blue-color;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	&:hover {
	  transform: scale(1.2);
	}
}

@mixin common-font {
	font-size: 2em;
	color: $main-blue-color;
}

@mixin names {
	font-size: 2em;
	font-weight: bold;
	text-shadow: 0 0 3px $main-blue-color;
	color: white;
}

.main-part {
	overflow: hidden;
	
	.agenda-part {
		padding: 20px;
		border-width: 0 0 1px 0;
		border-color: $border-color;
  		border-style: solid;
		
		.agenda {
			
			& > li {
				margin: 0 auto;
				padding: 40px;
				width: 600px;

				&:before {
					content: "";
					width: 1px;
					background-color: $main-blue-color;
					height: 100%;
				}
			}

			.font-icon {
				padding: 20px;
				border-radius: 50%;
				border-color: $main-blue-color;
				border-width: 1px;
	  			border-style: solid;
				font-size: 1.8em;
				color: $main-blue-color;
			}
			.seperator {
				padding: 0 20px;
			}
			.agenda-content {
				@include common-font;
			}
		}
	}

	.article {
		overflow: hidden;

		p {
			// @include names;
			padding: 40px;
			text-align: center;
			font-size: 2.2em;
			color: rgb(0, 137, 241);
		}

		.dividor {
			width: 40px;
			height: 3px;
			background-color: $border-color;
			margin: 10px auto 35px auto;
		}

		.products {
			& >li {
				padding: 20px;	
			}

  			.avatars {
  				display: inline-block;
  				padding: 20px;
  				width: 196px;

				.student-avatar {
					@include avatar;
				}

  				.tutor-avatar {
					margin-left: 20px;
  					@include avatar;
  				}
  			}

  			.introduction {
  				display: inline-block;
  				padding: 20px;
				width: calc(100% - 280px);
				font-size: 2em;
				color: $main-blue-color;

				.product-name {
					@include names;
				}
				.student-name {
					@include names;
				}
				.tutor-name {
					@include names;
				}
  			}

  			.sketches {
				padding:20px;
  			}
		}

		.product:first-of-type {
			border-width: 0;
		}
	}
}