@import "compass/reset";
@import "compass/css3";

body {
	font-size: 62.5%;
}

$border-color : rgb(242, 238, 232);
$main-blue-color: rgb(0, 67, 118);
$bright-blue-color: rgb(0, 137, 241);

@mixin avatar {
	padding: 3px;
	background-color: none;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: $main-blue-color;
	width: 80px;
	height: 80px;
	vertical-align: middle;
	&:hover {
	  transform: scale(1.2);
	}
}

@mixin common-font {
	font-size: 2em;
	color: $main-blue-color;
}

@mixin names {
	font-size: 2em;
	font-weight: bold;
	// text-shadow: 0 0 3px $main-blue-color;
	color: $main-blue-color;
}

.header {
	position: relative;
	background-image: url(../resources/top-background-image.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;

	.title {
		position: absolute;
		left: 50%; top:50%;
		margin-top: 100px;
		margin-left: -140px;
		color: white;
		font-size: 4em;
		text-shadow: 0 0 3px $main-blue-color;
	}
}

.dividor {
	width: 70px;
	height: 3px;
	background-color: $border-color;
	margin: 25px auto 45px auto;
}

.main-part {
	overflow: hidden;
	
	.agenda-part {
		padding: 20px;

		.agenda {
			
			& > li {
				margin: 0 auto;
				padding: 40px;
				width: 600px;

				&:before {
					content: "";
					width: 1px;
					background-color: $main-blue-color;
					height: 100%;
				}
			}

			.font-icon {
				padding: 20px;
				border-radius: 50%;
				border-color: $main-blue-color;
				border-width: 1px;
	  			border-style: solid;
				font-size: 1.8em;
				color: $main-blue-color;
			}
			.seperator {
				padding: 0 20px;
			}
			.agenda-content {
				@include common-font;
			}
		}
	}

	.article {
		overflow: hidden;

		.attention {
			display: block;
			padding: 40px;
			text-align: center;
			font-size: 2.2em;
			color: $bright-blue-color;
		}

		.products {
			padding: 0 200px 40px 200px;

			& >li {
				padding: 20px;	
			}

			.brief-info {
				display: inline-block;
				padding: 20px;
				width: 100%;
			}

  			.avatars {
  				display: inline-block;
  				padding: 0 20px;
  				width: 196px;

				.student-avatar {
					@include avatar;
				}

  				.tutor-avatar {
					margin-left: 20px;
  					@include avatar;
  				}
  			}

  			.introduction {
  				display: inline-block;
  				padding: 0 20px;
  				vertical-align: middle;
  				line-height: 30px;
				width: calc(100% - 280px);
				font-size: 2em;
				color: $main-blue-color;
				& > span {
					width: 100%;
				}

				.name {
					padding-left: 10px; 
					padding-right: 35px; 
					font-weight:bold;
					color: $bright-blue-color;
				}	
  			}

  			.sketches {
  				display: inline-block;
  				margin: 0 auto;
  				& > img {
					padding:20px;
					height: 350px;
					&:hover {
					  transform: scale(1.5);
					}
  				}
  			}
		}
	}
}

.footer {
	position: relative;
	background-image: url(../resources/top-background-image.jpg);
	background-size: cover;
	height: 100px;

	& > span {
		position: absolute;
		left: 50%;
		margin-left: -220px;
	}

	.twicon {
		display: inline-block;
		padding: 20px;
		width: 60px;
		border-radius: 50%;
		vertical-align: middle;
	}

	.copyright {
		padding-left: 10px;
		color: white;
		font-size: 2em;
		text-shadow: 0 0 3px $main-blue-color;
	}
}

@media screen and (max-width: 1100px) { 
	.main-part .article .products {
		.introduction {
			padding-top: 25px;
			display: block;
			width: 100%;
			.product-name {
				display: block;
			}
		}		
		.avatars {
			display: block;
		}
	}
}