/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 39, ../sass/style.scss */
.header {
  position: relative;
  background-image: url(../resources/top-background-image.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}
/* line 46, ../sass/style.scss */
.header .title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 100px;
  margin-left: -140px;
  color: white;
  font-size: 4em;
  text-shadow: 0 0 3px #004376;
}

/* line 57, ../sass/style.scss */
.dividor {
  width: 70px;
  height: 3px;
  background-color: #f2eee8;
  margin: 25px auto 45px auto;
}

/* line 64, ../sass/style.scss */
.main-part {
  overflow: hidden;
}
/* line 67, ../sass/style.scss */
.main-part .agenda-part {
  padding: 20px;
}
/* line 72, ../sass/style.scss */
.main-part .agenda-part .agenda > li {
  margin: 0 auto;
  padding: 40px;
  width: 600px;
}
/* line 77, ../sass/style.scss */
.main-part .agenda-part .agenda > li:before {
  content: "";
  width: 1px;
  background-color: #004376;
  height: 100%;
}
/* line 85, ../sass/style.scss */
.main-part .agenda-part .agenda .font-icon {
  padding: 20px;
  border-radius: 50%;
  border-color: #004376;
  border-width: 1px;
  border-style: solid;
  font-size: 1.8em;
  color: #004376;
}
/* line 94, ../sass/style.scss */
.main-part .agenda-part .agenda .seperator {
  padding: 0 20px;
}
/* line 97, ../sass/style.scss */
.main-part .agenda-part .agenda .agenda-content {
  font-size: 2em;
  color: #004376;
}
/* line 103, ../sass/style.scss */
.main-part .article {
  overflow: hidden;
}
/* line 106, ../sass/style.scss */
.main-part .article .attention {
  display: block;
  padding: 40px;
  text-align: center;
  font-size: 2.2em;
  color: #0089f1;
}
/* line 114, ../sass/style.scss */
.main-part .article .products {
  padding: 0 200px 40px 200px;
}
/* line 117, ../sass/style.scss */
.main-part .article .products > li {
  padding: 20px;
}
/* line 121, ../sass/style.scss */
.main-part .article .products .brief-info {
  display: inline-block;
  padding: 20px;
  width: 100%;
}
/* line 127, ../sass/style.scss */
.main-part .article .products .avatars {
  display: inline-block;
  padding: 0 20px;
  width: 196px;
}
/* line 132, ../sass/style.scss */
.main-part .article .products .avatars .student-avatar {
  padding: 3px;
  background-color: none;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #004376;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
/* line 22, ../sass/style.scss */
.main-part .article .products .avatars .student-avatar:hover {
  transform: scale(1.2);
}
/* line 136, ../sass/style.scss */
.main-part .article .products .avatars .tutor-avatar {
  margin-left: 20px;
  padding: 3px;
  background-color: none;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #004376;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
/* line 22, ../sass/style.scss */
.main-part .article .products .avatars .tutor-avatar:hover {
  transform: scale(1.2);
}
/* line 142, ../sass/style.scss */
.main-part .article .products .introduction {
  display: inline-block;
  padding: 0 20px;
  vertical-align: middle;
  line-height: 30px;
  width: calc(100% - 280px);
  font-size: 2em;
  color: #004376;
}
/* line 150, ../sass/style.scss */
.main-part .article .products .introduction > span {
  width: 100%;
}
/* line 154, ../sass/style.scss */
.main-part .article .products .introduction .name {
  padding-left: 10px;
  padding-right: 35px;
  font-weight: bold;
  color: #0089f1;
}
/* line 162, ../sass/style.scss */
.main-part .article .products .sketches {
  display: inline-block;
  margin: 0 auto;
}
/* line 165, ../sass/style.scss */
.main-part .article .products .sketches > img {
  margin: 20px;
  height: 350px;
  border-color: #f2eee8;
  border-style: solid;
  border-width: 1px;
}
/* line 171, ../sass/style.scss */
.main-part .article .products .sketches > img:hover {
  transform: scale(1.5);
}
/* line 179, ../sass/style.scss */
.main-part .article .products li:nth-of-type(2) .sketches > img {
  border-width: 0px;
}

/* line 188, ../sass/style.scss */
.footer {
  position: relative;
  background-image: url(../resources/top-background-image.jpg);
  background-size: cover;
  height: 100px;
}
/* line 194, ../sass/style.scss */
.footer > span {
  position: absolute;
  left: 50%;
  margin-left: -220px;
}
/* line 200, ../sass/style.scss */
.footer .twicon {
  display: inline-block;
  padding: 20px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 208, ../sass/style.scss */
.footer .copyright {
  padding-left: 10px;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 3px #004376;
}

@media screen and (max-width: 1100px) {
  /* line 218, ../sass/style.scss */
  .main-part .article .products .introduction {
    padding-top: 25px;
    display: block;
    width: 100%;
  }
  /* line 222, ../sass/style.scss */
  .main-part .article .products .introduction .product-name {
    display: block;
  }
  /* line 226, ../sass/style.scss */
  .main-part .article .products .avatars {
    display: block;
  }
}
