/* line 5, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 11, ../sass/style.scss */
.header {
  position: relative;
  background-image: url(../resourses/top-background-image.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}
/* line 18, ../sass/style.scss */
.header .title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 100px;
  margin-left: -140px;
  color: white;
  font-size: 4em;
  text-shadow: 0 0 3px #004376;
}

/* line 57, ../sass/style.scss */
.main-part {
  overflow: hidden;
}
/* line 60, ../sass/style.scss */
.main-part .agenda-part {
  padding: 20px;
  border-width: 0 0 1px 0;
  border-color: #f2eee8;
  border-style: solid;
}
/* line 68, ../sass/style.scss */
.main-part .agenda-part .agenda > li {
  margin: 0 auto;
  padding: 40px;
  width: 600px;
}
/* line 73, ../sass/style.scss */
.main-part .agenda-part .agenda > li:before {
  content: "";
  width: 1px;
  background-color: #004376;
  height: 100%;
}
/* line 81, ../sass/style.scss */
.main-part .agenda-part .agenda .font-icon {
  padding: 20px;
  border-radius: 50%;
  border-color: #004376;
  border-width: 1px;
  border-style: solid;
  font-size: 1.8em;
  color: #004376;
}
/* line 90, ../sass/style.scss */
.main-part .agenda-part .agenda .seperator {
  padding: 0 20px;
}
/* line 93, ../sass/style.scss */
.main-part .agenda-part .agenda .agenda-content {
  font-size: 2em;
  color: #004376;
}
/* line 99, ../sass/style.scss */
.main-part .article {
  overflow: hidden;
}
/* line 102, ../sass/style.scss */
.main-part .article p {
  padding: 40px;
  text-align: center;
  font-size: 2.2em;
  color: #0089f1;
}
/* line 110, ../sass/style.scss */
.main-part .article .dividor {
  width: 40px;
  height: 3px;
  background-color: #f2eee8;
  margin: 10px auto 35px auto;
}
/* line 118, ../sass/style.scss */
.main-part .article .products > li {
  padding: 20px;
}
/* line 122, ../sass/style.scss */
.main-part .article .products .avatars {
  display: inline-block;
  padding: 20px;
  width: 196px;
}
/* line 127, ../sass/style.scss */
.main-part .article .products .avatars .student-avatar {
  padding: 3px;
  background-color: none;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #004376;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
/* line 40, ../sass/style.scss */
.main-part .article .products .avatars .student-avatar:hover {
  transform: scale(1.2);
}
/* line 131, ../sass/style.scss */
.main-part .article .products .avatars .tutor-avatar {
  margin-left: 20px;
  padding: 3px;
  background-color: none;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #004376;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
/* line 40, ../sass/style.scss */
.main-part .article .products .avatars .tutor-avatar:hover {
  transform: scale(1.2);
}
/* line 137, ../sass/style.scss */
.main-part .article .products .introduction {
  display: inline-block;
  padding: 20px;
  width: calc(100% - 280px);
  font-size: 2em;
  color: #004376;
}
/* line 144, ../sass/style.scss */
.main-part .article .products .introduction .product-name {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 3px #004376;
  color: white;
}
/* line 147, ../sass/style.scss */
.main-part .article .products .introduction .student-name {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 3px #004376;
  color: white;
}
/* line 150, ../sass/style.scss */
.main-part .article .products .introduction .tutor-name {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 3px #004376;
  color: white;
}
/* line 155, ../sass/style.scss */
.main-part .article .products .sketches {
  padding: 20px;
}
/* line 160, ../sass/style.scss */
.main-part .article .product:first-of-type {
  border-width: 0;
}
